{% extends 'account/base.html' %}

{% block main %}

<div class="breadcrumbs"><a href="{% url bolsa_trabajo.views_account.index %}">Inicio</a> &gt; <a href="{% url bolsa_trabajo.views_enterprise.offer %}">Ofertas laborales</a></div>

<h2>Ofertas laborales</h2>

<div class="content-separator"></div>

<h4>Ofertas esperando validación</h4>

{% if pending_offers %}
    <ul>
        {% for offer in pending_offers %}
            <li><a href="{% url bolsa_trabajo.views_enterprise.edit_offer offer.id %}">{{ offer }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p><b>No hay ofertas pendientes</b></p>
{% endif %}

<h4>Ofertas activas</h4>

{% if active_offers %}
    <ul>
        {% for offer in active_offers %}
            <li><a href="{% url bolsa_trabajo.views.offer_details offer.id %}">{{ offer }}</a> (<a href="{% url bolsa_trabajo.views_enterprise.edit_offer offer.id %}">Editar</a>)</li>
        {% endfor %}
    </ul>
{% else %}
    <p><b>No hay ofertas activas</b></p>
{% endif %}

<h4>Ofertas pasadas</h4>

{% if closed_offers %}
    <ul>
        {% for offer in closed_offers %}
            <li><a href="{% url bolsa_trabajo.views_enterprise.offer_details offer.id %}">{{ offer }}</a>
			{% if offer.status == None %}
				(Feedback pendiente)
			{% else %}
				: {{offer.status}}
			{% endif %}
			</li>
        {% endfor %}
    </ul>
{% else %}
    <p><b>No hay ofertas registradas</b></p>
{% endif %}

<p><a href="{% url bolsa_trabajo.views_enterprise.add_offer %}">Crear nueva oferta laboral</a></p>

{% endblock %}
