{% extends 'account/base.html' %}

{% block main %}

<div class="breadcrumbs"><a href="{% url bolsa_trabajo.views_account.index %}">Inicio</a> &gt; <a href="{% url bolsa_trabajo.views_enterprise.offer %}">Ofertas laborales</a> &gt; <a href="{% url bolsa_trabajo.views_enterprise.offer_details offer.id %}">{{offer}}</a> &gt; <a href="{% url bolsa_trabajo.views_enterprise.offer_postulations offer.id %}">Postulaciones</a></div>
<h2> Postulaciones a "{{offer}}" </h2>
<ul>
{% for postulation in postulations %}
    <li><a href="{% url bolsa_trabajo.views_enterprise.postulation_details postulation.offer.id postulation.id %}">{{postulation.student.get_full_name}}</a></li>
{% endfor %}
</ul>

{% endblock %}
