{% extends 'base_two_columns.html' %}

{% block sidebar %}
<div class="box">
	<div class="box-title">Herramientas</div>

	<div class="box-content">
		<ul class="nice-list">
		    <li>
	            <a href="{% url bolsa_trabajo.views_staff.pending_enterprise_request %}">Solicitudes de empresas {% if pending_enterprise_request_count %}({{ pending_enterprise_request_count }}){% endif %}</a>
	        </li>
	        <li>
	            <a href="{% url bolsa_trabajo.views_staff.pending_offer_request %}">Solicitudes de ofertas laborales {% if pending_offer_request_count %}({{ pending_offer_request_count }}){% endif %}</a>
	        </li>
			<li>
	            <a href="{% url bolsa_trabajo.views_staff.all_closed_offers %}">Ofertas laborales sin feedback {% if pending_offer_status_count %}({{ pending_offer_status_count }}){% endif %}</a>
		    <li>
	            <a href="{% url bolsa_trabajo.views_staff.pending_registration_request %}">Solicitudes de registro{% if pending_registration_request_count %}({{ pending_registration_request_count }}){% endif %}</a>
	        </li>
	        <li>
	            <a href="{% url bolsa_trabajo.views_staff.new_enterprise %}">Ingresar empresa</a>
	        </li>
	        <li>
	            <a href="{% url bolsa_trabajo.views_staff.concreted_offers %}">Ver estadísticas</a>
	        </li>
		</ul>
	</div>
</div>
{% endblock %}
