{% extends 'account/base.html' %}

{% block header %}
	<link rel="stylesheet" type="text/css" href="/media/css/jquery-ui-1.8.6.custom.css" media="screen" />
	<script type="text/javascript" src="/media/js/jquery-ui-1.8.6.custom.min.js"></script>
	<script type="text/javascript" src="/media/js/tags_autocomplete.js"></script>
{% endblock %}

{% block main %}

<div class="breadcrumbs"><a href="{% url bolsa_trabajo.views_account.index %}">Inicio</a> &gt; <a href="{% url bolsa_trabajo.views_account.edit_profile %}">Editar perfil</a></div>

    <h2>Editar perfil</h2>
    <div class="content-separator"></div>
    <p>
        Usa este formulario para actualizar tu perfil de estudiante
    </p>
    <p>
        Con respecto al currículum vitae, si no seleccionas ninguno se mantendrá el que ya está en el sistema.
    </p>
   
    <form enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}
        {% if error %}
            <div class="errorlist">{{ error }}</div>
        {% endif %}
        <table class="table_no_width">
            {{ profile_form.as_table }}
            <tr><td><input type="submit" value="Actualizar" /></td></tr>
        </table>
    </form>
    
    <h3>Currículum Vitae</h3>
    
    {% if student.has_cv %}
        <p>
            Actualmente tienes un currículum vitae disponible - <a href="{% url bolsa_trabajo.views_account.download_cv user.id %}">Descargar</a> </p>
        <p>
            Si no quieres tener ningún currículum, puedes <a href="{% url bolsa_trabajo.views_account.delete_cv %}">eliminarlo</a>
        </p>
            
    {% else %}
        <p>
            No tienes ingresado tu currículum vitae en el sistema, usa el formulario superior para ingresar uno si así lo deseas.
        </p>
    {% endif %}

{% endblock %}
