{% extends 'account/base_superuser.html' %}
{% block header %}
	<script type="text/javascript" src="/media/js/pending_request_details.js"></script>
{% endblock %}

{% block main %}

<div class="breadcrumbs"><a href="{% url bolsa_trabajo.views_account.index %}">Inicio</a> &gt; <a href="{% url bolsa_trabajo.views_staff.all_closed_offers %}">Ofertas laborales pasadas</a></div>

<div class="content-separator"></div>

{% if enterprises_offers %}
    <ul>
        {% for key, value in enterprises_offers.items %}
            <li>
				<a href="{% url bolsa_trabajo.views_staff.closed_offers value.1%}">{{key}} ({{value.0}} pendiente(s))</a>
			</li>
        {% endfor %}
    </ul>
{% else %}
    <p><b>No hay ofertas registradas</b></p>
{% endif %}

{% endblock %}