{% extends 'account/base_superuser.html' %}

{% block header %}
	<script type="text/javascript" src="/media/js/pending_request_details.js"></script>
{% endblock %}

{% block main %}

<div class="breadcrumbs"><a href="{% url bolsa_trabajo.views_account.index %}">Inicio</a> &gt; <a href="{% url bolsa_trabajo.views_staff.all_closed_offers %}">Ofertas laborales pasadas</a> &gt; <a href="{% url bolsa_trabajo.views_staff.closed_offers enterprise.id%}">{{enterprise}}</a></div>

<h2>Ofertas laborales pasadas</h2>
<div class="content-separator"></div>
<h5>Datos de la empresa</h5>
<ul>
    <li><b>Nombre de la empresa:</b> <a href="{% url bolsa_trabajo.views.enterprise_details enterprise.id %}">{{enterprise}}</a></li>
    <li><b>Teléfono:</b> {{enterprise.phone}}</li>
    <li><b>Email:</b> {{enterprise.email}}</li>
</ul>
<div class="content-separator"></div>

<h4>Ofertas cerradas</h4>
{% if closed_offers %}
    <ul>
        {% for offer in closed_offers %}
            <li><a href="{% url bolsa_trabajo.views_staff.change_offer_status offer.id %}"><b>{{offer}}</b></a>: {{offer.get_closure_reason_name}}</li>
        {% endfor %}
    </ul>
{% else %}
    <p><b>No hay ofertas cerradas</b></p>
{% endif %}

{% endblock %}
