Se ha recibido un mensaje de {{ enterprise }}, cuyos detalles están disponibles en {{ server_name }}{% url bolsa_trabajo.views.enterprise_details enterprise.id %},

Para responderlo sólo necesita contestar este correo.

====================================

{{ body }}

====================================

Este correo ha sido enviado desde el sistema de mensajería de la Bolsa de Trabajo CaDCC.

Para cualquier queja o consulta de este mensaje o del servicio, por favor contáctenos en {{ server_name }}/contact
