{% extends 'public/base_student.html' %}
{% block main %}

<div class="breadcrumbs"><a href="{% url bolsa_trabajo.views_account.index %}">Buscar profesionales</a></div>

    <h2>Resultados de la búsqueda</h2>
    <div class="content-separator"></div>
    {% if students %}
    {% for student in students %}
        <ul>
            <li>
                <a href="{% url bolsa_trabajo.views.student_details student.id %}">{{ student.get_full_name }}</a> {% if student.affinity %}<span class="affinity">({{ student.affinity }}%)</span>{% endif %}
                <br />
                <b>Resumen:</b> {{ student.get_resume_string|linebreaks }}
                <b>Nivel:</b> {{ student.level }}
                <br />
                <b>Currículum vitae:</b> {% if student.has_cv %}<a href="{% url bolsa_trabajo.views_account.download_cv student.id %}">Descargar</a>{% else %}No disponible{% endif %}
                <br />
                <b>Términos clave:</b> {{ student.get_tags_string }}
            </li>
        </ul>
        
    {% endfor %}
        <div class="page_navigator">
            {% for page in page_range %}
                {% ifequal page page_number %}
                    <b>{{ page }}</b>
                {% else %}
                    <a href="{{ paging_url }}&page_number={{ page }}">{{ page }}</a>
                {% endifequal %}
            {% endfor %}
        </div>
    {% else %}
        <p>No se encontraron profesionales según sus criterios</p>
    {% endif %}
{% endblock %}
