{% extends 'public/base_enterprise.html' %}

{% load offer_comment %}

{% block header %}
	<script type="text/javascript" src="/media/js/offer_details.js"></script>
{% endblock %}

{% block main %}

<div class="breadcrumbs"><a href="{% url bolsa_trabajo.views.offer %}">Ofertas laborales</a> &gt; <a href="{% url bolsa_trabajo.views.offer_details offer.id %}">{{ offer.title }}</a></div>

<h2>{{ offer.title }}</h2>
<div class="content-separator"></div>

     <b>Empresa:</b> <a href="{% url bolsa_trabajo.views.enterprise_details offer.enterprise.id %}">{{ offer.enterprise }}</a><br />
     <b>Descripción:</b> {{ offer.description|linebreaks }}<br />
     <b>Sueldo líquido:</b> {{ offer.get_salary_string }}<br />
     <b>Puestos disponibles:</b> {{ offer.get_available_slots_string }}<br />
     <b>Nivel:</b> {{ offer.get_level_string }}<br />
     <b>Fecha creación:</b> {{ offer.creation_date.date }}<br />
     <b>Fecha cierre:</b> {{ offer.end_date }}<br />
     <b>Términos clave:</b> {{ offer.get_tags_string }}<br />
<br />

{% if user.is_staff and not offer.is_closed %}
<a href="{% url bolsa_trabajo.views_enterprise.offer_postulations offer.id %}"> Ver postulaciones</a>
<form action="{% url enterprise_close_offer offer.id %}" method="post" onsubmit="return confirm('¿Está seguro que desea cerrar la oferta? El proceso no es reversible');">
    {% csrf_token %}
    <input type="submit" value="Cerrar Oferta" />
</form>
<br />
{% endif %}

{% if user.profile.is_student %}
<h3>Opciones</h3>
<div class="content-separator"></div>
<ul>
    <li><a href="{% url bolsa_trabajo.views.offer_send_message offer.id %}">Hacer una consulta privada acerca de esta oferta a la empresa</a></li>
    <li><a href="{% url bolsa_trabajo.views_student.apply_to_offer offer.id %}">Postular a la oferta de trabajo</a></li>
</ul>
{% endif %}

<h3>Comentarios</h3>
<div class="content-separator"></div>

{% if base_comments %}
    <div class="comments">
        <ul>
            {% for base_comment in base_comments %}
                {{ base_comment|tree_comment:user }}
            {% endfor %}
        </ul>
    </div>
{% else %}
    <p>No hay comentarios para esta oferta</p>
{% endif %}

{% if user.can_reply %}
    <p>Deja tu comentario de esta oferta!</p>
    <form method="post">
        {% csrf_token %}
        {% if comment_form.body.errors %}
            <span class="errorlist">{{ comment_form.body.errors.0 }}</span>
            <br />
        {% endif %}
        {{ comment_form.body }}
        <br />
        <input type="submit" value="Enviar" /> 
    </form>
    
    <ul id="js_form" style="display: none">
        <li>
            <div>
                <form method="post">
                    {% csrf_token %}
                    <textarea name="body" cols="40" rows="5"></textarea>
                    <br />
                    <input type="hidden" id="parent_id" name="parent" value="">
                    <input type="submit" value="Enviar" />
                </form>
            </div>
        </li>
    </ul>
{% endif %}

{% endblock %}
